*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Reset list styles */
ul,
ol {
    list-style: none;
}

/*Image responsiveness */
img {
    max-width: 100%;
    height: auto;
}